html {
    background-color: #303030;
    height: 100%;
}

body {
    font-family: Changa;
    background-color: #353535;
    color: #DDDDDD;
    border-radius: 5px;
    margin: 0px auto;
    max-width: 900px;
    height: 100%;
    text-align: center;
}

h1 {
    color: #DDDDDD;
    margin: 0px;
}

#artistname {
    background-color: #353535;
    text-align: center;
    color: #DDDDDD;
    border: 0px;
}

#button {
    background-color: #aaaaaa;
    border-radius: 13px;
    border: 0px;
    width: 150px;
    height: 40px;
}

#centerdiv {
    font-size: 3em;
    max-width: 600px;
    max-height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
}

input[type=text] {
  font-size: 1em;
  height: 60px;
  border: 0;
  width: calc(80% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}
